a {
color:inherit;
text-decoration:none;
}

a:hover{
color:#FFC18E;
}

body{
background-color:#F2F2F2;
}

table{
background-color:#EFEFEF;
}

.text-white{
color:white;
}

.text-bold{
font-weight:bold;
}

.box-width-30{
width:30%;
}